body {
    background-color: bisque;
}
li {
    color: rgb(24, 95, 10);
}
h1 {
    color: green
}
h2, h3 {
    color: #8C2D59
}
h4 {
    color: #86D9B3
}
ul {
    border: 1px solid;
    border-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
article {
    background-color: rgb(255, 206, 174);
    border: 2px solid;
    border-color: black;
    text-align: center;
}
footer {
    color: rgb(10, 10, 156);

}
main li {
    border: 1px solid;
    border-color: black;
}

.menu-item{
    display: inline;
}
